#forest {
    display: grid;
}

.square {
    width: 1px;
    height: 1px;
    background-color: green;
}

.burning {
    background-color: red;
}

.burned-hot {
    background-color: orange;
}

.burned-cold {
    background-color: black;
}

.filters {
    display: flex;
    flex-direction: column;
}

.btn {
    background: green;
    color: white;
    padding: 8px 16px;
    border-radius: 0.5rem;
}